footer {
    border-top: 1px solid black;
    background-color: rgb(154, 153, 255);
    padding-bottom: 5%;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

.footer__nav {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

.footer__list {
    padding-left: 0;
    margin-left: 0;
    display: flex;
    list-style: none;
    gap: 3%;
    font-family: "Betm-Medium";
}

.footer__text {
    margin-bottom: 0;
    font-size: small;
    color: rgb(95, 95, 95);
}

.footer__copyright {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
