/********** DETAILS TRAVEL **********/
.details-travel {
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
}

.details-travel__us-block {
    display: flex;
    gap: 3%;
}

.details-travel__us-block h4 {
    padding-bottom: 3%;
    font-size: x-large;
    font-weight: initial;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

.details-travel__about-us {
    width: 470px;
}
.details-travel__about-us {
    line-height: 1.5;
}

.details-travel__why-us {
    width: 470px;
}

.details-travel__why-us img {
    margin: auto;
    
}

.details-travel__why-us section {
    margin-top: 2%;
}

.details-travel__section-content {
    display: flex;
    gap: 3%;
    margin-bottom: 3%;
}

    /********** HOW TO TRAVEL **********/
.how-to {
    display: flex;
    flex-direction: column;
}

.how-to__container {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

.how-to__heading h4 {
    padding-bottom: 1%;
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
    font-size: x-large;
    font-weight: initial;
}

button {
    margin-bottom: 7%;
    width: 130px;
    height: 50px;
    font-weight: bold;
    font-size: math;
    background-color: rgb(128, 170,107);
    color: aliceblue;
    border-radius: 5%;
    border: 1px solid #2b2d42;
    cursor: pointer;
}
